.tagline {
   /* clear: left; semaus commented 
      left: -6px;
	  May 18th
	  position: relative; */
    color: #ED8438;
	/*float: right;
	margin-top: -3px; */
	font-size: 13px;  
}

.navbar-light {
	background: white;
}

.navbar{
	background: #BBBBBB;
	border-bottom: 1px solid #ED8438;
	font-size: 105%;
	color: white;
}

.navbar-header img{
	width: 80%;
    height: auto;
    background: white;
	border-radius: 10px;
	padding: 3px;
}

.border-blue img{
	border: 1px solid #209BE6;
}

.header_contact {
	color: #209BE6;
}

.dropdown-toggle:hover .nav-links {
	display: block;
}

.nav-item{
	padding-right: 4px;
	padding-left: 4px;
}

.nav-link-color {
	color: white;
	transition: all 0.3s ease-in-out;
}

.nav-link-color:hover {
	color: #ED8438;
}

.dropdown {
	display: inline-block;
	}

.nav-border{
	background: #EEEEEE;
	border: 1px solid #ED8438;
	transition-property: border-width;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

.orange-border-bottom-side{
	border: 1px solid #ED8438;
}

/*
.nav-border:hover {
	border-width: 0px;
}
*/

.search-button {
	background-color: white;
	transition: all 0.3s ease-in-out;
	color: black;
}

.search-button:hover {
	background-color: #ED8438;
	color: white;
}

.btn-outline-success:hover {
	background-color: #ED8438;
}

.row_colour1 {
	background: #cccccc;
}

.centrecom-orange {
	color: #ED8438;
}

.grey_writing {
	color: grey;
}

.centrecom-content-1 {
	border: 2px solid #ED8438;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3)
}

.client_heading_1 {
	padding-top: 5%;
}

.client_experience_1 {
	padding-bottom: 5%;
}

.client-experience-card {
	border: 2px solid #ED8438;
	padding-top: 5px;
}

.form_background {
	background: #209BE6;
	border: 5px;
}

.client-background{
	background: #DDDDDD;
}

.client-box{
	margin-bottom: 10px;
}

.shadow-form { 
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3),0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-transitions {
	transition: all 0.4s ease-in-out;
}

.form-transitions:focus {
	border: 1px solid #ED8438;
}

footer{
	background: #aaaaaa;
}

.footer-copyright{
	background: #888888;
}


.fa {
	padding-right: 10px;
	font-size: 20px;
	text-decoration: none;
}

.social-fa {
	padding-right: 10px;
	font-size: 20px;
	transition: all 0.4s ease-in-out;
	text-decoration: none;
	color: white;
}

.social-fa:hover {
	color: #ED8438;
    text-decoration: none;
}

.navbar-social {
	padding-right: 10px;
	font-size: 20px;
	transition: all 0.4s ease-in-out;
	text-decoration: none;
	color: #ED8438;
	text-decoration: none;
}

.navbar-social:hover {
	color: #209BE6;
	text-decoration: none;
}

/* Set a specific color for each brand */



.comments { display: none; }

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-top-gray { border-top-color: #adb5bd; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }